.idea/
.gradle/
libraries/*/build/*
*.swp
*.iml
*.apk

build
SmarterWifiManager/manifest-merger-standard-release-report.txt
SmarterWifiManager/manifest-merger-bpe-release-report.txt
SmarterWifiManager/manifest-merger-release-report.txt
SmarterWifiManager/build.gradle.old